html, body {
  font-family: 'Della Respira', serif;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

h1 {
  font-family: 'Quattrocento', serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.header-accent-tropic {
  color: #9440dd;
}

.header-accent-infusions {
  color: #9eff1f;
}

h2 {
  font-family: 'Della Respira', serif;
  font-size: 2.5rem;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
}

.flavor-menu {
  disp
